src/Workspace_v6.5/.mule/apps/customerordermanagement/classes/ordermanagement.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config xmlns:http="http://www.mulesoft.org/schema/mule/http" name="ordermanagement-httpListenerConfig" host="0.0.0.0" port="9630" basePath="/order/" doc:name="HTTP Listener Configuration"/>
    <apikit:config xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="ordermanagement-config" raml="ordermanagement.raml" consoleEnabled="false" doc:name="Router" keepRamlBaseUri="false">
        <apikit:flow-mapping resource="/createorder" action="post" content-type="application/json" flow-ref="post:/createorder:application/json:ordermanagement-config"/>
        <apikit:flow-mapping resource="/getorders" action="get" flow-ref="get:/getorders:ordermanagement-config"/>
    </apikit:config>

    <flow name="ordermanagement-main">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="ordermanagement-httpListenerConfig" path="/order/*" doc:name="HTTP"/>
        <apikit:router xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="ordermanagement-config" doc:name="APIkit Router"/>
        <exception-strategy ref="ordermanagement-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="ordermanagement-console">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="ordermanagement-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="ordermanagement-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/getorders:ordermanagement-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/createorder:application/json:ordermanagement-config">
        <dw:transform-message doc:name="Transform Message" metadata:id="98c4ad35-c968-44d6-9872-369eeb4e4959">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
[{
	OwnerId: payload.OrderDetails.CustomerID,
	EffectiveDate: payload.OrderDetails.OrderDate as :date,
	BillingStreet: payload.OrderDetails.BillingAddress.Line1,
	BillingCity: payload.OrderDetails.BillingAddress.City,
	BillingState: payload.OrderDetails.BillingAddress.State,
	BillingPostalCode: payload.OrderDetails.BillingAddress.Zip,
	ShippingStreet: payload.OrderDetails.ShippingAddress.Line1,
	ShippingCity: payload.OrderDetails.ShippingAddress.City,
	ShippingState: payload.OrderDetails.ShippingAddress.State,
	ShippingPostalCode: payload.OrderDetails.ShippingAddress.Zip,
	CreatedDate: payload.OrderDetails.OrderDate as :datetime
}]]]></dw:set-payload>
        </dw:transform-message>
        <sfdc:create config-ref="Salesforce__Basic_Authentication" type="Order" doc:name="CreateOrder">
            <sfdc:objects ref="#[payload]"/>
        </sfdc:create>

        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="ordermanagement-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
